@font-face {
    font-family: "roboto";
    src: url('../fonts/roboto/Roboto-Regular.ttf')
}

body {
    font-family: "roboto";
    font-size: 14px;
    color: #000;
    margin: 0;
}

.tab-content {
    height: auto;
    min-height: 260px;
}

.tab-pane .container {
    z-index: 2;
}

.tab-pane .bg-pesawat,
.tab-pane .bg-hotel,
.tab-pane .bg-kereta,
.tab-pane .bg-bis,
.tab-pane .bg-atraksi {
    background-image: url('../img/bg-pesawat.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 260px;
    width: 100%;
    opacity: 0.3;
    display: block;
    position: absolute;
    z-index: -1;
}
@media(max-width: 768px){
.tab-pane .bg-pesawat,
.tab-pane .bg-hotel,
.tab-pane .bg-kereta,
.tab-pane .bg-bis,
.tab-pane .bg-atraksi{
    height: 300px;
} 
#fitur-3-langkah {
    margin-top: 30px;
    margin-bottom: -10px;
}
}

.tab-pane .bg-hotel {
    background-image: url('../img/bg-hotel.jpg');
    height: 350px;
}

.tab-pane .bg-kereta {
    background-image: url('../img/bg-train.jpg');
}

.tab-pane .bg-bis {
    background-image: url('../img/bg-bus.jpg');
}

.tab-pane .bg-atraksi {
    background-image: url('../img/bg-attraction.jpg');
}

.tab-pane form {
    padding-top: 50px;
}

.tab-pane [type="radio"]:checked,
.tab-pane [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.tab-pane [type="radio"]:checked + label,
.tab-pane [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.tab-pane [type="radio"]:checked + label:before,
.tab-pane [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.tab-pane [type="radio"]:checked + label:after,
.tab-pane [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #2a5ec1;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
}

.tab-pane [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

.tab-pane [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

.tab-pane .pilihan {
    display: inline-block;
    margin-right: 20px;
}

.tab-pane button {
    margin-top: 30px;
}

.input-group input {
    box-sizing: border-box;
    height: 40px;
    border: solid 2px #CCC;
    outline: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.input-group input:not(:last-child) {
    border-right: 0;
}

.input-group input:nth-child(2) {
    padding-left: 20px;
}

.input-group input:nth-child(1),
.input-group input:nth-child(2) {
    width: 25%;
}
.input-group input:nth-child(3),
.input-group input:nth-child(4),
.input-group input:nth-child(5) {
    width: 16%;
}

/*media for form*/
@media(max-width: 768px){
    .input-group input:nth-child(1),
    .input-group input:nth-child(2) {
        width: 50%;
    }
    .swap {
        margin-left: 45% !important;
    }
    .input-group input:nth-child(3),
    .input-group input:nth-child(4),
    .input-group input:nth-child(5) {
        width: 50%;
    }
}



.input-group button {
    position: absolute;
    margin-left: 23%;
    border: 0;
    background: #CCC;
    height: 36px;
    width: 36px;
    margin-top: 2px;
}

/* CSS ME */
h3.judul {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* CUSTOM CSS */
.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item {
    margin: 0 20px 0 0;
}

.nav-tabs .nav-link {
    color: #444;
    border: 0;
    border-radius: 0;
    padding: .5rem .5rem 10px;
    border-bottom: solid 3px transparent;
}

.nav-tabs .nav-link.active {
    border-bottom: solid 3px #007BFF;
    color: #007BFF;
}

.container form .row {
    margin-bottom: 10px;
}

.menu-tab {
    margin-top: 20px;
}

#fitur-3-langkah {
    margin-top: 10px;
    margin-bottom: -10px;
}

.card1,
.card2,
.card3 {
    float: left;
}

.card-img-top {
    height: 300px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.login-form h2 {
    margin: 20px 20px 20px 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 2px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
}





.dropdown-login {
    width: 200px;
    right: 0px;
    left: inherit;
    font-size: 14px !important;
    padding: 20px;
}
